/*Tiktok @codetheworld.io*/

body{
    background-color: gray;
}

form{
    border: dashed 2px #d1d5db;
    padding: .5rem 2rem;
    font: 16px sans-serif;
    width: 450px;
    margin-left: 400px;
    margin-top: 100px;
}

.internal{
    display: flex;
    gap: 2rem;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
label{
    display: flex;
    flex-direction: column;
    width: 200px;
}

input{
    color: #374151;
    font-family: monospace;
    height: 38px;
    padding: 0 16px;
    border: 1px solid #d1d5db;
}

button{
    height: 2.5rem;
    background-color: #0ea5e9;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
}

@media print {
    button{
        display: none;
    }
}